<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
      <form (ngSubmit)="onSubmit()" #formElement #registerForm="ngForm" name="registerForm" class="register-form">
          <div class="form-group">
              <label for="firstName">Name</label>
              <input type="text" name="firstName" class="form-control"  [(ngModel)]="userModel.name"   />

          </div>
          <div class="form-group">
              <label for="lastName">Email</label>
              <input type="text" name="lastName" class="form-control" [(ngModel)]="userModel.email" >

          </div>
          <div class="form-group">
              <label for="username">Username</label>
              <input type="text" name="username" class="form-control" [(ngModel)]="userModel.userName"    />

          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" class="form-control" [(ngModel)]="userModel.password" />

          </div>
          <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Register
              </button>
              <a routerLink="../login" class="btn btn-link">Cancel</a>
          </div>
      </form>
  </div>
</div>
