.image-container{

  height: 60vw !important;

  .gallery {

   margin: 5px;
   border: 1px solid #ccc;
   float: left;
   width: 24vw;
 }
 div.gallery:hover {
   border: 1px solid #777;
 }

 div.gallery img {
   width: 100%;
   height: auto;
 }
 }
